header{
    
    /*float: center;*/
    background-color: blueviolet;
    display: flex;
    margin-right: 0,3em;
    flex-direction: row;

        border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        background-color: darkturquoise;
        background: rgb(70,252,241);
        background: radial-gradient(circle, rgba(70,252,241,1) 0%, rgba(63,94,251,1) 100%);
   
}

.button{
    
    width: 3em;
    height: 3em;
    float: right;
    margin-left: 650px;
    
    border: 2px solid black; /*arrondi noir autour*/
    /*padding: 1em;*/
    border-radius:50%;
    background-color: rgba(70,252,241,1);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: apparition 0.8s ease-out;
    font-size: 150%;
    /*background-image: linear-gradient(to bottom,blue, white);
    /*background: rgb(34,193,195);*/
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(70,38,115,1) 0%, rgba(37,241,107,1) 0%, rgba(119,59,151,1) 0%, rgba(23,147,217,1) 100%);
  }

.principal{
    display: flex;
    flex-direction: row-reverse;
    
}

.h1{
    margin-left: 400px;
    padding-bottom: 1em; 
    width: 10em;
    

    
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    animation: apparition 0.8s ease-out;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-decoration: underline solid #6613be;
   
}

@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}   

h3{
    font-size: 2em;
    padding:0;
    left: 400px;
    top: 100px;
    
}

.role{
    
   margin-left: 2px;
   margin-top: 2px;
   display: flex;
   flex-direction: column;
   float:left;
   position:relative;
   
}

.image{
    
    margin-left:2px;
    margin-top: 2px;
    width: 100px;
    border-radius: 50%;
    /*background-color: darkred;*/
    
}





main{
    /*box-shadow: 30px 0px 40px rgb(196,196,196), -30px 0px 40px rgb(196,196,196) ; /*ombre*/
    margin-right: 0,3em;
    margin-left: 1em;
    margin-bottom: 20px;
    margin-top: 30px;
    
    display: flex;
    


    border: 2px solid black; /*arrondi noir autour*/
    padding: 1em;
    border-radius:30px;
    flex-direction: column;
    background: rgb(70,252,241);
    background: radial-gradient(circle, rgba(70,252,241,1) 0%, rgba(63,94,251,1) 100%);
}



.gauche{
    /*box-shadow: 30px 0px 40px rgb(196,196,196), -30px 0px 40px rgb(196,196,196) ;*/
    /*width: 485px;
    position:fixed;
    height: 80%; 
    left: 0px;
    bottom: 0px;*/
    /*display: flex;*/
    margin-top: 15px;    
    margin-left: 0,3em;
    margin-right: 1em;
    margin-bottom: 0px;
    /*margin-left: 20px;
    margin-bottom: 20px;*/
    padding-bottom: 1em;
    
    
    

}


    

    .contact {
       
        display: flex;
        border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        flex-direction: column;
        background-color: darkturquoise;
        margin-top: 15px ;
        margin-left: 15px;
        background: rgb(70,252,241);
        background: radial-gradient(circle, rgba(70,252,241,1) 0%, rgba(63,94,251,1) 100%);
    }

    
    .competences{
        display: flex;
        border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 15px;
        background: rgb(70,252,241);
        background: radial-gradient(circle, rgba(70,252,241,1) 0%, rgba(63,94,251,1) 100%);
    }

    .formulaire{
        display: flex;
        border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 15px;
        background-color: cadetblue;
        background: rgb(70,252,241);
        background: radial-gradient(circle, rgba(70,252,241,1) 0%, rgba(63,94,251,1) 100%);
    }

    .html{
        
        margin-left: 10 px;
        margin-top: 20px;    
    }

    .c{
        
        margin-left: 10 px;
        margin-top: 1em;    
    }
    .cpp{
        
        margin-left: 10 px;
        margin-top: 0px;    
    }
    .css{
        
        margin-left: 10 px;
        margin-top: 0px;    
    }
    .java{
       
        margin-left: 10 px;
        margin-top: 0px;    
    }
    
    .obligatoire{
        font-size: 10px;
        color: red;
    }

    





