header{
    
    /*float: center;*/
    background-color: blueviolet;
    display: flex;
    margin-right: 0,3em;
    flex-direction: row;

        border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        /*background-color: darkturquoise;*/
        background: rgb(70,252,241);
        background: radial-gradient(circle, rgba(70,252,241,1) 0%, rgba(63,94,251,1) 100%);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(70,38,115,1) 0%, rgba(37,241,107,1) 0%, rgba(119,59,151,1) 0%, rgba(23,147,217,1) 100%);
    animation: apparition 0.8s ease-out;
}

.button{
    
    width: 3em;
    height: 3em;
    float: right;
    margin-left: 650px;
    
    border: 2px solid black; /*arrondi noir autour*/
    /*padding: 1em;*/
    border-radius:50%;
    background-color: rgba(70,252,241,1);
}

.role{
    
    margin-left: 2px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    float:left;
    position:relative;
    
 }
 
 .image{
     
     margin-left:2px;
     margin-top: 2px;
     width: 100px;
     border-radius: 50%;
     /*background-color: darkred;*/
 }

 .h1{
    margin-left: 400px;
    padding-bottom: 1em; 
    width: 10em;
    text-align: center;

    animation: apparition 0.8s ease-out;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-decoration: underline solid #6613be;
    }

@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
} 

h2{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-decoration: underline solid #6613be;
}

main{
    

    background: rgb(70,252,241);
    background: radial-gradient(circle, rgba(70,252,241,1) 0%, rgba(63,94,251,1) 100%);

    margin-top: 1em;
    margin-bottom: 1em;
    /*margin-left: 1em;*/
    /*margin-right: 1em;*/
    height: auto;
    width: auto;
    text-align: center;

    border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        flex-direction: column;
        
}

h3{
    text-align: left;
    text-decoration: underline;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-decoration: underline solid #6613be;
}

.popi{
        position:relative;
        margin-left:5em;
        margin-top: 20px;
        width: 30em;
        border: 2px solid black; /*arrondi noir autour*/
        border-radius: 50%;
        display: flex;
        float: left;
        
}

.popt{
    position:relative;
    font-size: 0,5cm;
    margin-left: 1000px;
    margin-right: 2em;
    margin-top: 130px;

        border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        flex-direction: column;
        background: rgb(70,178,252);
        background: radial-gradient(circle, rgba(70,178,252,1) 0%, rgba(141,63,251,1) 100%);
        }

.lourdesi{
    margin-left:5em;
    margin-top: 20px;
    width: 30em;
    border: 2px solid black; /*arrondi noir autour*/
    border-radius: 50%;
    display: flex;
    float: left;
}

.lourdest{
    font-size: 0,5cm;
    margin-left: 55em;
    margin-right: 20em;
    margin-top: 9em;

        border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        flex-direction: column;
        background-color: darkgreen;
}

.maroci{
    margin-left:5em;
    margin-top: 20px;
    width: 30em;
    border: 2px solid black; /*arrondi noir autour*/
    border-radius: 5%;
    display: flex;
    float: left;
}

.maroct{
    font-size: 0,5cm;
    margin-left: 55em;
    margin-right: 20em;
    margin-top: 9em;

    border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        flex-direction: column;
        background-color: darkgreen;
}

.chefi{
    margin-left:5em;
    margin-top: 20px;
    width: 30em;
    border: 2px solid black; /*arrondi noir autour*/
    border-radius: 50%;
    display: flex;
    float: left;
}

.cheft{
    font-size: 0,5cm;
    margin-left: 55em;
    margin-right: 20em;
    margin-top: 9em;

    border: 2px solid black; /*arrondi noir autour*/
        padding: 1em;
        border-radius:30px;
        flex-direction: column;
        background-color: darkgreen;
}